!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %title Test Backbone
    %script{src: "bower_components/jquery/dist/jquery.js"}
    %script{src: "bower_components/underscore/underscore.js"}
    %script{src: "bower_components/backbone/backbone.js"}
    %script{src: "bower_components/backbone-localstorage/backbone-localstorage.js"}
    %script{src: "js/coffeescript/app.js"}
    -# %script{src: "js/typescript/app.js"}

  %body
    
    #container
      Loading...
      
