<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Test Backbone</title>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/underscore/underscore.js'></script>
    <script src='bower_components/backbone/backbone.js'></script>
    <script src='bower_components/backbone.localstorage/backbone.localstorage.js'></script>
    <link href='bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet'>'</link>
    <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <script src='js/coffeescript/app.js'></script>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-4'>
          <div id='todoapp'>
            <h1>Todos</h1>
            <input class='form-control' id='new-todo' placeholder='What needs to be done?'>
            <br>
            <ul class='list-group' id='todo-list'></ul>
          </div>
        </div>
      </div>
    </div>
    <script id='item-template' type='text/template'>
      <div class='form-inline'>
        <input class='toggle checkbox-inline' type='checkbox'>
        <input class='edit form-control' value='<%- title %>'>
        <label class='title'><%- title %></label>
        <span class='completed pull-right'><%- completed %></span>
        <a class='btn btn-default btn-sm pull-right'>delete</a>
      </div>
    </script>
  </body>
</html>
