!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %title Test Backbone
    %script{src: "bower_components/jquery/dist/jquery.js"}
    %script{src: "bower_components/underscore/underscore.js"}
    %script{src: "bower_components/backbone/backbone.js"}
    %script{src: "bower_components/backbone-localstorage/backbone-localstorage.js"}
    %script{src: "js/coffeescript/app.js"}

  %body
    
    %script#template0{type: "text/template"}
      %label <%= label_var %>
      %label Search
      %input 


    #container
      Loading...
      
